@keyframes loading {
  from {stroke-dashoffset: 1010;}
  to {stroke-dashoffset: 0;}
}
@keyframes shake {
  0% {transform: translate(-50%);}
  20% {transform: translate(-45%);}
  40% {transform: translate(-55%);}
  60% {transform: translate(-45%);}
  80% {transform: translate(-55%);}
  100% {transform: translate(-50%);}
}

body {
  margin: 0;
  width: 750px;
  height: 550px;
  font: 16px Arial;
  background: linear-gradient(45deg, #e3faff, #f7f2ff);
}

.flexed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.today {
  position: relative;
  padding: 18px;
  flex-direction: column;
  min-width: 300px;
  transition: margin-left 0.2s;
}

.today .today-background {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  border-radius: 36px;
  background: #ffffffa0;
  backdrop-filter: blur(6px);
  box-shadow: 3px 3px 25px -15px black;
  transition: background 0.2s;
  z-index: 1;
}
.today.visible {
  margin-left: -350px;
  transition-delay: 0s;
}
.today.visible .today-background {
  background: white;
  transition-delay: 0s;
}

.today .weather-main {
  width: 100%;
  justify-content: space-between;
}
.today .weather-main #weatherIcon {
  width: 120px; height: 120px;
  //background: #ffffff5d;
  background-size: 1186%;
  background-position: 36px 36px;
  border-radius: 40%;
  padding: 5px;
  //box-shadow: 0px 0px 20px -10px;
  font-size: 5em;
  user-select: none;
}
.today .weather-main #weatherIcon img {
  width: 100%;
}
.today .weather-main #weatherDegrees {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
}
.today .weather-main #weatherFeelsLike {
  font-size: 0.66em;
  color: #4f4f4f;
  margin-top: 3px;
}

.today #weatherDescription {
  width: 100%;
  justify-content: space-between;
}
.today #weatherDescription span {
  padding: 4px 8px;
  border-radius: 666px;
  cursor: default;
}
.today #weatherDescription span:hover, .search #searchButton:hover, .today #detailsArrow:hover, .search #currentLocation:hover {
  box-shadow: 2px 2px 16px -8px black;
  background: #eaf1f4;
}
.today #weatherDescription span:first-child {
  text-transform: capitalize;
}

.today #cityName {
  font-size: 1.75em;
  margin: 18px 0px;
  max-width: 300px;
  text-align: center;
}

.today .weather-main, .today #cityName, .today #weatherDescription {
  position: relative;
  z-index: 1;
}

.today #detailsArrow {
  display: none;
  position: absolute;
  right: 3px; top: 50%;
  transform: translateY(-50%);
  width: 28px; height: 28px;
  border-radius: 50%;
  transition: transform 0.25s;
  z-index: 1;
}
.today.visible #detailsArrow {
  transform: translateY(-50%) rotate(180deg);
}

.today .weather-details {
  position: absolute;
  left: 0%;
  width: 400px;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: left 0.2s, opacity 0.2s;
  z-index: 0;
}
.today.visible .weather-details {
  left: 90%;
  opacity: 1;
  backdrop-filter: blur(6px);
  pointer-events: all;
}
.today .weather-details .container {
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffffffa0;
  border-radius: 0px 36px 36px 0px;
  overflow: hidden;
}
.today .weather-details .container .top {
  justify-content: center;
  padding-left: 18px;
}
.today .weather-details .container .top, .today .weather-details .container .bottom {
  width: 100%; height: 50%;
  position: relative;
}

.today .weather-details .container .top .bg {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}
.today .weather-details .container .top .bg.a {
  background: linear-gradient(90deg, #007ffd 25%, #ff00f7 85%);
}
.today .weather-details .container .top .bg.b {
  background: linear-gradient(-40deg, #ffc000 -66%, transparent)
}
.today .weather-details .container .top .bg.c {
  background: linear-gradient(40deg, #5fe3ff -66%, transparent);
}
.today .weather-details .container .top .bg.d {
  background: linear-gradient(90deg, transparent 25%, #5b50ea3d, transparent 75%);
}

.today .weather-details .bottom {display: flex;}
.today .weather-details .bottom #hourly {
  width: 100%;
  height: 96%;
  overflow-y: hidden;
  overflow-x: scroll;
  justify-content: start;
  margin: 0px 4px 0px 40px;
}
.today .weather-details .bottom #hourly::-webkit-scrollbar {
  height: 6px;
}
.today .weather-details .bottom #hourly::-webkit-scrollbar-thumb {
  background: #ffffffa0;
  border-radius: 666px;
}

.today .weather-details .bottom #hourly .hour {
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 6px;
  background: #ffffff5d;
  box-shadow: 2px 2px 12px -8px black;
  font-size: 0.85em;
  margin: 0px 3px;
}
.today .weather-details .bottom #hourly .hour:first-child {
  background: white;
  box-shadow: -2px -2px 10px -2px #279fed, 2px 2px 10px -2px #f750a0;
}
.today .weather-details .bottom #hourly .hour img, #week .day img {
  width: 40px;
}
.today .weather-details .bottom #hourly .hour-time {
  padding: 2px 4px;
  border-radius: 6px;
  background: #ffffffa0;
  box-shadow: 1px 1px 8px -4px black;
  font-weight: 600;
}

.today .sunrise-container, .today .sunset-container {
  position: absolute;
  top: 50px;
  padding: 5px 10px;
  border-radius: 666px;
  background: white;
  z-index: 1;
}
.today .sunrise-container img, .today .sunset-container img {
  width: 30px;
}

.search {
  width: 900px;
  max-width: 66%;
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 18px;
  background: #ffffffa0;
  backdrop-filter: blur(6px);
  padding: 0px 20px;
  box-shadow: 0px 0px 20px -10px;
}
.search #searchInput {
  width: 100%;
  background: none;
  border: none;
  height: 100%;
  padding: 10px 20px 10px 0px;
  font: 18px Arial;
  outline: none;
}
.search #searchButton {
  background: none;
  border: none;
  font-size: 20px;
  padding: 0;
  min-width: 32px; height: 32px;
  border-radius: 50%;
}
.search #currentLocation {
  font-size: 0;
  margin: 0px 2px;
  padding: 5px;
  border: none;
  background: none;
  border-radius: 50%;
}

.week-container {
  position: absolute;
  bottom: 0; left:0;
  width: 100%;
}
#week {
  max-width: 90%;
  border-radius: 18px 18px 0px 0px;
  box-shadow: 2px 2px 24px -10px black;
  backdrop-filter: blur(6px);
}
#week .day {
  background: #ffffffa0;
  padding: 8px;
  flex-direction: column;
}
#week .day:first-child {
  border-radius: 18px 0px 0px 0px;
}
#week .day:last-child {
  border-radius: 0px 18px 0px 0px;
}
#week .day .day-name {
  font-weight: bold;
  font-size: 1.2em;
}
#week .day .day-date {
  font-weight: 200;
  font-size: 0.8em;
}

#loadingContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#loadingContainer #loadingText {
  color: #348bee;
  font-weight: 600;
  position: absolute;
  top: 50%; left: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  font-size: 1.2em;
}

.loaded #detailsArrow {
  display: initial;
}
.loaded #loadingContainer {
  display: none;
}
